*{
    font-family: Tahoma, Verdana, Geneva,  sans-serif;
    color: rgb(222, 227, 231);
    margin: 0;
    padding: 0;    
}
body{
    background: linear-gradient(to right, #134e5e, #3a6e46);
}
h1 {
    padding-top: 10px;
    text-align: center;
    font-weight: 300;
}
/* Corpo e fundo da calculadora */
form {
    width: 400px;
    height: 430px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 10px;
    padding-left: 20px;
    background-color: rgba(37, 37, 37, 0.466);
    border-radius: 3%;
    box-shadow: 5px 5px 10px rgba(65, 63, 63, 0.404);
    border-style: none;
}
form > fieldset{
    height: 100%;
    border: none;  
}
/* botoões e visor */
input {
    cursor: pointer;
    width: 90PX;
    height: 55px;
    margin-top: 3%;
    border-radius: 4px;
    border: none;    
    background-color: #3a6e46;
    transition: all 200ms ease-in-out;
    font-size: 20px;
}
.btns:hover{
    color: rgb(184, 176, 176);
    background-color: #1f5b6b;
}
/* cascade do visor */
#tela {
    width: 70%;
    border-radius: 5px; 
    margin-bottom: 12px;
    background-color: #fff;
    padding-right: 7px;
    font-size: 20px;
    font-weight: bolder;    
    text-align: end;
    color: rgb(32, 32, 32);
}
#ce{
    font-weight: bolder;
    background-color: #0d85bd;
    transition: all 200ms ease-in-out;
}
#ce:hover {
    background-color:  #134e5e;

}
#igual {    
    width: 185px;
    font-weight: bold;
    background-color:#20276d;
    transition: all 200ms ease-in-out;
}
#igual:hover {
    font-weight: bolder;
    color: #151516;
    background-color: rgb(207, 203, 203);
}
#seta {
    cursor: pointer;
    position: absolute;
    top: 83%;
    left: 50%;
    transform: translate(-50%, -50%);  
}
.gira {
    transform: rotate(180deg);
    transition:  all 300ms ease-in-out;
}
.mostra {
    display: block !important;
    transition: all 600ms ease-in-out;
}
#historico {    
        position: absolute;
        top: 90%;
        left: 50%;
        transform: translate(-50%, -50%);
}

/* Responsividade: */
@media only screen and (max-width: 510px){
    form {
        width: 60%;
        height: 65%;
        position: absolute;
        top: 49%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding-top: 3%;       
        border-style: none;
    }
    input {
        width: 21%;
        height: 13.5%;
        margin-top: 3%;
        border-radius: 4px;
        margin-left: 1%;
    }
    #tela {
        width: 68%;
        border-radius: 4px; 
        margin-bottom: 12px;
    }    
    #igual {
        width: 47%;
    }    
    #seta {
        position: absolute;
        top: 88%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #historico {    
        position: absolute;
        top: 95%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 5px;
    }
}

@media only screen and (max-width: 390px) {
    form {
        margin-top: 10px;
        width: 55%;
        height: 63%;
        padding-top: 3%;
        padding-right: 5%;  
    }
    input {
        height: 14%;
        margin-top: 3%;
        border-radius: 4px;
        margin-left: 1%;
    } 
}

@media only screen and (max-height: 610px) {  
    form {
        position: absolute;
        top: 47%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #seta {
        position: absolute;
        top: 89%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #historico {    
        position: absolute;
        top: 93%;
        left: 50%;
        transform: translate(-50%, -50%);
    } 
}
 @media only screen and (max-height: 570px) {  
    form {
        width: 60%;
        height: 45%;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding-bottom: 3%;
    }
    input {        
        width: 22%;
        height: 10%;
        margin-top: 3%;
        border-radius: 4px;
        margin-left: 1%;
    }
    #igual {    
        width: 47%;
    }     
    #seta {
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #historico {    
        position: absolute;
        top: 85%;
        left: 50%;
        transform: translate(-50%, -50%);
    } 
}
@media only screen and (max-height: 570px) {  
   input {        
        width: 22%;
        height: 10%;
        margin-top: 3%;
        border-radius: 4px;
        margin-left: 1%;
    } 

    #seta {
        position: absolute;
        top: 89%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #historico {    
        position: absolute;
        top: 93%;
        left: 50%;
        transform: translate(-50%, -50%);
    } 
}         